<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>YourApp</title>
<script src="js/jquery-3.1.0.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet"></link>
<link href="css/offcanvas.css" rel="stylesheet"></link>
</head>
<body>
	<div id="header"></div>

	<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
 		<div class="col-xs-12 col-sm-9">
 		
		<div class="jumbotron">
			<div id="result"></div>
            <h3>New article</h3>
           	 <div>Title: </div>
          	 <input id="title" type="text" size="40"></input><br></br><br></br>
          	 <div>Content: </div>
          	 <textarea id="content" rows="20" cols="45" name="text"></textarea>
          	 <br></br>
          	 <a id="save" href="">Save</a>		
          </div>
		</div>
		<div id="sidebar"></div>
	</div>
	</div>
</body>

<script>
    $.ajax({
        type: "GET",
        cache: false,
        url: '/allArticles',
        data: "",
        success: function (response) {
            var html = "";
            $('#articles').html("Here should be an article."); 
        }
    });

	$('#save').click(function() {
		if (!$("#title").val()) {
			alert("Enter your data!");
		} else {
			$.ajax({
				type : "POST",
				cache : false,
				url : '/persist',
				data : {
					'title' : $("#title").val(),
					'content' : $("#content").val()
				},
				success : function(response) {
					$('#result').html();
				}
			});
		}

	});
</script>

<script>
	$(function() {
		$("#header").load("header.html");
		$("#sidebar").load("sidebar.html");
	});
</script>
</html>